name: Deploy
on: 
  push:
    branches:
      - "main"

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: executing remote ssh commands using password
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.KEY }}
        port: ${{ secrets.PORT }}
        script: |
          cd project
          cd BE
          git pull origin main
          docker-compose down --rmi all && docker-compose up --build -d
          